{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <img class='logo' height=30 width=25 src='/assets/tf_logo.png'/>
    <h2>
      trendify
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class='host-button'>
  {{#paper-button onClick=(action "host") raised=true primary=true}}Host{{/paper-button}}
</div>

{{outlet}}
<div class='background-content'></div>
