<div class="header layout-column">
    <h1 class="title flex-30">Trendify</h1>

    {{paper-divider}}
    <div class="layout-row layout-xs-column flex start-container flex-70">
        {{#paper-button onClick=(action "host") raised=true primary=true}}Host{{/paper-button}}
        {{#paper-button onClick=(action "join") raised=true }}Join{{/paper-button}}
    </div>
</div>