.game {
  height: 100%;

  .header {
    height: 80px;
    .title {
      display: flex;
      flex-direction: column;
    }
    .primary {
      font-size: 20px;
      flex: 3;
    }
    .secondary {
      flex: 1;
      font-size: 12px;
    }

    .context {
      position: absolute;
      right: 10px;
      text-transform: uppercase;
    }
  }
  .content {
    height: calc(100% - 80px);
    .header {
      .tertiary {
        height: 50px;
      }
    }
    .body {
      height: 100%;
    }
  }
}
