.game {
  .header {
    .title {
      display: flex;
      flex-direction: column;
    }
    .primary {
      font-size: 20px;
      flex: 3;
    }
    .secondary {
      flex: 1;
      font-size: 12px;
    }
  }
}
